// Large devices (desktops)
@media screen and (max-width: 992px) {
	.works__item {
		width: calc(100% / 4);
	}

	.team__item-wrap {
		margin-bottom: 20px;
	}

	.team__join {
		margin-top: 50px;
	}

	.scroll-btn {
		right: 20px;
	}

	.scroll-btn__active {
		bottom: 20px;
	}

	.footer__block {
		margin-bottom: 20px;
	}

	.copyright {
		text-align: left;
	}
}