.about__top {
	padding-top: 70px;
	min-height: 400px;
	background-color: $white;
}

.about__top-left {
	display: flex;
	justify-content: center;
}

.about__logo {
	display: block;
	width: 235px;
	height: 229px;
}

.title {
	margin-bottom: 20px;
	font-family: 'Playfair';
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
}

.about__text {
	margin-bottom: 25px;
	line-height: 1.571;
}

.about__bottom {
	min-height: 550px;
	background-image: url("../img/content/about-bg.jpg");
	background-size: cover;
}

.about__bottom-bg {
	display: flex;
	min-height: 550px;
	background-color: rgba(#0d0734, .85);
}

.about__bottom-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.about__bottom-btn {
	display: flex;
	margin-bottom: 30px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #fff;

	&:hover {
		.svg__play {
			fill: $aqua;
		}
	}
}

.svg__play {
	margin: auto;
	margin-left: 33px;
	width: 37px;
	height: 45px;
	transition: .3s;
}

.about__bottom-text {
	font-weight: 900;
	font-size: 16px;
	text-transform: uppercase;
	color: $white;
}
