.header {
	//min-height: 670px;
	background-image: url("../img/content/header-bg.jpg");
	background-size: cover;
}

.header__bg {
	width: 100%;
	padding-bottom: 65px;
	background-color: rgba(#2d1b59, .85);
}

.navbar {
	padding: 15px 0 0;
}

.navbar-brand {
	display: flex;
	align-items: center;
	padding: 0;
	margin-right: 0;
}

.navbar__pic {
	margin-right: 10px;
}

.svg-logo {
	height: 50px;
  width: 44px;
  fill: $aqua;
}

.logo__text {
	font-weight: 100;
	font-size: 30px;
	line-height: 1.2;
	color: $aqua;
}

.nav__list {
	display: flex;
}

.nav__item {
	margin-left: 25px;
	font-weight: 900;
	font-size: 13px;
	text-transform: uppercase;

	&:first-child {
		margin-left: 0;
	}
}

.nav__link {
	color: $white;
	transition: .3s;

	&:hover {
		text-decoration: none;
		color: $aqua;
	}
}

.nav__link_active {
	color: $aqua;
}

.header__carousel {
	margin-top: 150px;
}

.header__carousel-title {
	margin-bottom: 20px;
	font-family: 'Playfair';
	font-weight: 900;
	font-size: 32px;
	color: $white;
	line-height: 1.2;
}

.header__carousel-line {
	margin-bottom: 30px;
	width: 50px;
	height: 1px;
	background-color: $aqua;
}

.header__carousel-text {
	margin-bottom: 50px;
	color: $white;
	text-align: center;
	line-height: 1.714;
}

.learn-btn {
	width: 120px;
	height: 40px;
	border: 1px solid $aqua;
	border-radius: 2px;
}

.learn-btn__link {
	display: flex;
	height: 100%;
	font-family: 'hammersmithoneregular';
	font-size: 16px;
	line-height: 1.2;
	color: $aqua;
	transition: .3s;

	&:hover {
		text-decoration: none;
	}
}

.learn-btn__text {
	margin: auto;
	text-transform: uppercase;
}

.header__carousel {
	.owl-dots {
		display: flex;
		justify-content: center;
		margin-top: 125px;

		.owl-dot {
			background: transparent;
			width: 10px;
			height: 10px;
			border: 1px solid #bababc;
			border-radius: 50%;
			margin-right: 5px;
			outline: none;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.header__carousel {
	.owl-dots {
		.owl-dot.active {
			background-color: $aqua;
			border: none;
		}
	}
}



