//Roboto Black
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-black-webfont.woff') format('woff'),
       url('../../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}

//Roboto Regular
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-regular-webfont.woff') format('woff'),
       url('../../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

//Roboto Light
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-light-webfont.woff') format('woff'),
       url('../../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

//Roboto Thin
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-thin-webfont.woff') format('woff'),
       url('../../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
  font-weight: 100;
  font-style: normal;
}

//Hammersmith-One Regular
@font-face {
  font-family: 'hammersmithoneregular';
  src: url('../../fonts/hammersmithone-regular-webfont.woff') format('woff'),
       url('../../fonts/hammersmithone-regular-webfont.svg#hammersmithoneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Playfair Display Black
@font-face {
  font-family: 'Playfair';
  src: url('../../fonts/playfairdisplay-black-webfont.woff') format('woff'),
       url('../../fonts/playfairdisplay-black-webfont.svg#playfair_displayblack') format('svg');
  font-weight: 900;
  font-style: normal;
}

//Playfair Display Bold
@font-face {
  font-family: 'Playfair';
  src: url('../../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
       url('../../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
  font-weight: 700;
  font-style: normal;
}

//Playfair Display Regular
@font-face {
  font-family: 'Playfair';
  src: url('../../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
       url('../../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
